body {
    margin: 0;
    background-color: white;
}

main {
    width: 100%;
    max-width: 300px;
    background-color: white;
    margin: 1em auto;
    margin-top: 6em;
    padding: 1em;
    border-radius: 0.5em;
}

.login {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.input {
    width: calc(100% - 16px);
    padding: 0.5em;
    border-radius: 5px;
    border-color: #CCC;
    border-width: 2px;
    border-style: solid;
}

select.input {
    width: 100%;
}

button {
    display: inline-block;
    background-color: #00008B;
    width: 100%;
    color: white;
    border: none;
    padding: 1em;
    font-size: 1em;
    border-radius: 5px;
}

#entra {
    background-color: black;
    font-weight: bold;
}

#cadastre {
    font-size: 65%;
}

p {
    font-size: 60%;
}

a {
    font-size: 65%;
    color: black;
}
