.titulo {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 29px;
    text-align: center;
    color: var(--azul);
    margin-top: 2%;
}

body {
    background-color: #fdfdfd;
}

.img-fundo {
    display: none;
}

main {
    max-width: 768px;
    margin: 0 auto;
    background-color: white;
}

.campo {
    display: inline-block;
    width: calc(100% - 1em);
    margin: 0.5em;
}

.campo.medio {
    width: calc(60% - 1em);
}

.campo.pequeno {
    margin-left: 20px;
    width: calc(35% - 1em);
}

@media only screen and (min-width: 426px) {

    .campo.pequeno {
        margin-left: 20px;
        width: calc(39.8% - 1em - 16px);
    }

    .img-fundo {
        display: block;
        position: absolute;
        z-index: -1;
    }

    #img-arvore {
        right: 2.15%;
        top: 550px;
        bottom: 3.13%;
    }

    #img-salinha {
        height: 200px;
        left: 4%;
        top: 550px;
    }

    #img-grupo-icons {
        width: 196.58px;
        left: 9%;
        top: 68px;
    }

    #img-icon-tela {
        right: 2.9%;
        top: 6.64%;
    }

    #img-icon-balao {
        right: 4%;
        top: 50%;
        transform: rotate(14.09deg);
    }
}
