h1{
    text-align: center;
}
.campo {
    display: inline-block;
    width: calc(100% - 1em);
    margin: 0.5em;
}
.campo.medio {
    width: calc(60% - 1em);
}

.campo.pequeno {
    margin-left: 20px;
    width: calc(37% - 1em);
}
