/* se aplica a todo o documento */
:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    /* use var(--azul) quando quiser a cor azul primária */
    --azul: #00043B;
}

/*Definindo tamanho dos paineis coloridos*/
.sqr{
    width: 95%;
    height: auto;
    padding: 10px;
    border: 10px;
    border-radius: 10px;
    padding-left: 6%;
    padding-right: 0;
}

.sqr:nth-child(2) {
    margin-top: 10px;
}

.par-sqr {
    border-radius: 10px;
    margin-top: 10px;
}

/*Titulos dos paineis*/
.titleSolicitation{
    font-size: 22px;
    margin: 0;
    font-style: bold;
}

.titleSolicitation.vermelho {
    display: none;
}

/*Numero dos paineis*/
.numberSolicitation{
    font-size: 40;
    margin-top: 4%;
    margin-bottom: 4%;
}

/*texto ao lado dos icones*/
.textDoLadoDoIcon{
    font-size: 18px;
    font-style: normal;
    /*position:relative;  para alinhar a escrita ao lado dos icones*/
    bottom: 8px;
    display: inline-flex;
}

.iconzin{
    height: 1.5em;
    margin-right: 0.5em;
}

/*cores dos paineis*/
#new{
    background-color: #eef1ff;
}

#now{
    background-color: #fff6d4;
}

#last{
    background-color: #f3f3f3;
}



/*cores dos numeros dos paineis*/
.azul{
    color: #5f71ce;
}

.verde{
    color: #45ce05;
}

.vermelho{
    color: #ef3838;
}

.amarelo{
    color: #c79b00;
}

/* responsividade para computadores */
@media only screen and (min-width: 426px) {
    .par-sqr {
        width: calc(50% - 5px);
        display: inline-block;
    }

    /*Definindo tamanho dos paineis coloridos*/
    .sqr{
        height: 180px;
        padding: 10px;
        border: 10px;  
        border-radius: 10px;
    }

    /*Titulos dos paineis*/
    .titleSolicitation{
        font-size: 22px;
        margin: 0;
        font-style: bold;
    }

    .titleSolicitation.vermelho {
        display: inline;
        visibility: hidden;
    }

    /*Numero dos paineis*/
    .numberSolicitation{
        font-size: 40;
        margin-top: 4%;
        margin-bottom: 4%;
    }

    /*texto ao lado dos icones*/
    .textDoLadoDoIcon{
        font-size: 18px;
        font-style: normal;
        /*position:relative;  para alinhar a escrita ao lado dos icones*/
        bottom: 8px;
        display: inline-flex;
    }

    .bb{
        margin-right: 30%;
    }    

    #last {
        float: right;
    }
}
